# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [8]:
num_int = 6

print(num_int)
print(type(num_int))

6
<class 'int'>

##### Assinging float

In [10]:
num_float = 6.12

print(num_float)
print(type(num_float))

6.12
<class 'float'>

In [13]:
num_float_again = 3.

print(num_float_again)
print(type(num_float_again))

3.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [28]:
num1 = 2.0
num2 = 5

result = num1 + num2

print(result)

# Short-hand version
result += 3 # result = result + 3
print(result)

7.0
10.0

##### Subtraction

In [29]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1 # result_diff = result_diff - 1
print(result_diff)

3.0
2.0

##### Multiplication

In [57]:
result_prod = num1 * num2
print(result_prod)

result_prod *= 2

print(result_prod)

10.0
20.0

In [58]:
result_prod*=2
print(result_prod)

40.0

##### Division

In [32]:
result_div = 10/num1
print(result_div)

result_div /= 2
print(result_div)

5.0
2.5

##### Exponential

In [60]:
square = 5 ** 2
print(square)

square **= 3
print(square)

25
15625

##### Floor Division

In [64]:
# sometimes referred to as integer division

result_floor = 19//5
print(result_floor)

result_floor //= 2

print(result_floor)

3
1

##### Modulo

In [72]:
# Returns the remainder of the division equation

result_mod = 19 % 5
print(result_mod)

result_mod %= 3

print(result_mod)

4
1

### String Input-Output

##### String Assignment

In [87]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [88]:
name2 = 'Brian'
print(name2)
print(type(name2))

Brian
<class 'str'>

In [89]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [90]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: invalid syntax (<ipython-input-90-e50b30aa9072>, line 1)

In [91]:
quote1 = 'Brian said, "I love python!"'
print(quote1)

Brian said, "I love python!"

In [92]:
quote2 = "Brian said, "I love python!""
print(quote2)

SyntaxError: invalid syntax (<ipython-input-92-d4bfdc7a75e1>, line 1)

##### Escape Characters

In [94]:
print('You can\'t do that')

You can't do that

In [95]:
print('Hello
      how are you?')

SyntaxError: EOL while scanning string literal (<ipython-input-95-ea85f28b69c2>, line 1)

In [96]:
print('Hello \
how are you?')

Hello how are you?

In [97]:
# \n - newline character
print("Hello\nhow are you?")

Hello
how are you?

In [98]:
# \t - tab character
print("Hello\thow are you?")

Hello	how are you?

In [101]:
# Raw String
print(r"Hello\nhow are you?")

Hello\nhow are you?

In [102]:
print(r'You can\'t do that')

You can\'t do that

##### String Concatenation

In [105]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr." # full_name = full_name + ", Jr."

print(full_name)

John Smith
John Smith, Jr.

In [108]:
num_a = 10
num_b = '10'

add = num_b + num_a

print(add)

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [114]:
num_b_int = int(num_b)
print(num_b, type(num_b))
print(num_b_int, type(num_b_int))

add = num_b_int + num_a
print(add)

10 <class 'str'>
10 <class 'int'>
20

In [116]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

10 <class 'int'>
10 <class 'str'>
1010

##### .format() and f-strings

In [123]:
# string.format(*values)

name = 'Brian'
age = 65
home = 'Chicago'

print("Hello my name is {} and I am {} years old and I am from {}.".format(name, age, home))
print(f"Hello my name is {name} and I am {age} years old and I am from {home}.")

Hello my name is Brian and I am 65 years old and I am from Chicago.
Hello my name is Brian and I am 65 years old and I am from Chicago.

##### Old Way (python 2)

In [126]:
print("Hello my name is %s and I am from %s" % (name, home))

Hello my name is Brian and I am from Chicago

In [125]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [ ]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

### Booleans

In [127]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [128]:
bool_f = False
print(bool_f)
print(type(bool_f))

False
<class 'bool'>

### If Statements

In [130]:
# if <expression>:
#     <statement>
# IF the EXPRESSION evaluates to TRUE: 
#     EXECUTE THE INDENTED LINES

if True:
    print("Hello this is true")

Hello this is true

In [131]:
if False:
    print("Hello this is false")

In [147]:
print('Start of code')

if False:
    print('Hello')
    print('How are you?')
    print('Good, you?')
    
print('End of code.')

Start of code
Hello
How are you?
Good, you?
End of code.

In [142]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num1 == num2 * num3)
print(num1 >= num2)
print(num2 != num1/num3)

True
True
True
False

In [146]:
if num1 > num2:
    print(f'{num1} is greater than {num2}')
    
if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')
    
if num2 != num1/num3:
    print('num2 does not equal num1 divided by num3')

10 is greater than 5
num1 is equal to num2 times num3

## Using 'and'/'or' with If Statements

In [157]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F
num1 = 10
num2 = 5
num3 = 2

if num1 > num2 and num2 > num3:
    print('Both conditions are true')
    
if num1 > num2 or num2 < num3:
    print('At least one condition is true')

Both conditions are true
At least one condition is true

### Else Statements

In [161]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 66

if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride the ride :(')

Enjoy the ride!

### Elif Statements

In [168]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_a_parent = 14

movie_goer_age = 15
has_parent = True

if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent and has_parent:
    print('You may enjoy this movie with adult supervision.')
else:
    print('You are not old enough to see this film')

You may enjoy this movie with adult supervision.

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [175]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00
age = 75

if age > 65:
    print(f'Your ticket is ${ticket * .75:.2f}')
elif age > 10:
    print(f'Your ticket is ${ticket:.2f}')
else:
    print(f'Your ticket is ${ticket * .50:.2f}')

Your ticket is $7.50

### Lists

##### Declaring Lists

In [219]:
l_1 = [] # Empty list declaration/assignment

print(l_1)
print(type(l_1))


names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']

print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
<class 'list'>

##### Indexing a List

In [220]:
# list[index] - 0-based index
# list[start: stop]
# list[start: stop: step]

# start is INclusive, stop is EXclusive

# Single Item
print(names[4])
print(names[-7])


# Print the list starting at index 2 and end at index 5
print(names[2:6])


# Print the list starting at index 2 and going to the end
print(names[2:])

# Print the list starting at the beginning and going to the 5th index
print(names[:6])

# Print the list starting at index 1 and ending at index 5 and only every other name
print(names[1:6:2])

# Every other element
print(names[::2])

# Reverse the list
print(names[::-1])

Frank
Max
['Kathy', 'Bob', 'Frank', 'Natalie']
['Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie']
['Cindy', 'Bob', 'Natalie']
['Max', 'Kathy', 'Frank', 'Jim']
['Jim', 'Natalie', 'Frank', 'Bob', 'Kathy', 'Cindy', 'Max']

In [222]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

##### .append()

In [223]:
# list.append(value_to_append) - adds value to end of the list

print(names)

names.append('Brian')

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']

##### .insert()

In [224]:
# list.insert(index,value)

print(names)

names.insert(2, 'Michael')

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']
['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']

##### .pop()

In [225]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
print(names)

my_name = names.pop()

print(names)

['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']
['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']

In [226]:
print(my_name)

Brian

In [227]:
name_3 = names.pop(3)

print(names)

print(name_3)

['Max', 'Cindy', 'Michael', 'Bob', 'Frank', 'Natalie', 'Jim']
Kathy

In [228]:
for _ in range(5):
    names.append('Bob')
    
print(names)

['Max', 'Cindy', 'Michael', 'Bob', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']


##### .index()

In [229]:
# list.index(value) - the index of the first item to match the value
print(names.index('Bob'))

3

In [230]:
print(names[3])

Bob


##### .count()

In [231]:
# list.count(value) - the number of times the value appears in the list
print(names.count('Bob'))

6


##### .remove()

In [232]:
# value to be removed , not index
print(names)

names.remove('Bob')

print(names)

['Max', 'Cindy', 'Michael', 'Bob', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
['Max', 'Cindy', 'Michael', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

##### del

In [233]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del names[2]

print(names)

['Max', 'Cindy', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']


##### .clear()

In [234]:
print(names)

names.clear()

print(names)

['Max', 'Cindy', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
[]

##### Concatenating Two Lists

In [238]:
# will append two lists together, not add up the elements in each list

list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

combo_list = list_1 + list_2

print(combo_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [248]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other
names = ['Max', 'Sam', 'Josh', ['Sally', 'Susan', 'Tameka'], 'Trevor']

print(names)
print(names[3])
print(names[3][1])
print(names[4])

['Max', 'Sam', 'Josh', ['Sally', 'Susan', 'Tameka'], 'Trevor']
['Sally', 'Susan', 'Tameka']
Susan
Trevor

### For Loops

In [254]:
# for <keyword> in <iterable>:
#     <statement>
print('Code start')

for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)
    print("Hello the x variable is equal to:", x)
    
print('Code end')

Code start
5
Hello the x variable is equal to: 5
10
Hello the x variable is equal to: 10
15
Hello the x variable is equal to: 15
20
Hello the x variable is equal to: 20
25
Hello the x variable is equal to: 25
30
Hello the x variable is equal to: 30
35
Hello the x variable is equal to: 35
40
Hello the x variable is equal to: 40
Code end

In [257]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [259]:
full_name = 'Brian Stanton'

for letter in full_name:
    print(letter)

B
r
i
a
n

S
t
a
n
t
o
n

##### Continue Statement

In [ ]:
# will continue to next iteration

In [263]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

##### Break Statement

In [ ]:
# will break out of current loop

In [264]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        break
    print(num)

1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [267]:
people = ['Ryan', 'Mickey', 'Janet', 'Catherine']

for peeps in people:
    # TODO: Send each user an email
    pass
print(people)

['Ryan', 'Mickey', 'Janet', 'Catherine']

In [268]:
if 'Brian' in people:
    pass

In [271]:
def some_func():
    pass

some_func()

##### Nested/Double For Loops

In [282]:
nums = [1,2,3,4,5]

for i in nums:
    print(i)
    for j in nums:
        print(f"i = {i}, j = {j}")

1
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
2
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
4
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5

### While Loops

In [284]:
# while <conditional>:
#     <statement to run while condition is true>

my_super_cool_num = 0

while my_super_cool_num < 20:
    print(my_super_cool_num)
    my_super_cool_num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [291]:
x = 1

while x < 50:
    if x % 5 == 0:
        x += 1
        break
    print(x)
    x += 1

1
2
3
4

##### Looping 'While True'

In [ ]:
while True:
    keep_playing = input('Would you like to keep playing this game? y/n ').lower()
    if keep_playing == 'n':
        break
    else:
        print("Let's start again!")

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:

import math
n=0
count = 1
while n<1000:
    n = math.pow(count,3)
    print(int(n))
    count+=1

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [298]:
lst = list()
for i in range(2,100):
    flag = 0
    for j in range(2,i-1):
        if i%j==0:
            flag =1
            break
    if flag==0:
        lst.append(i)
        
print(lst)

Hello

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input('enter your age : '))

if age<18:
    print('kids')
elif age>=18 and age<=65:
    print('adult')
else:
    print('senior')